/.vs
build/
*.png
*.cache
[Bb]in
[Dd]ebug*/
obj/
/MusicLibrary/obj/Debug/netcoreapp3.1/MusicLibrary.csproj.CoreCompileInputs.cache
/MusicLibrary/obj/Debug/netcoreapp3.1/MusicLibrary.csproj.CoreCompileInputs.cache
/MusicLibrary/obj/Debug/netcoreapp3.1/MusicLibrary.csprojAssemblyReference.cache
/MusicLibrary/obj/Debug/netcoreapp3.1/MusicLibrary.dll
/MusicLibrary/obj/Debug/netcoreapp3.1/MusicLibrary.pdb
